MYSQL_URL=jdbc:mysql://<RDS_ENDPOINT>:3306/bitsharing?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
MYSQL_USERNAME=<DB_USERNAME>
MYSQL_PASSWORD=<DB_PASSWORD>

JWT_SECRET=<JWT_SECRET>

SMS_API_KEY=<TWILIO_API_KEY>
SMS_API_SECRET=<TWILIO_API_SECRET>
TWILIO_ACCOUNT_SID=<TWILIO_ACCOUNT_SID>
TWILIO_AUTH_TOKEN=<TWILIO_AUTH_TOKEN>
TWILIO_PHONE_NUMBER=<TWILIO_PHONE_NUMBER>

STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_PUBLISHABLE_KEY=<STRIPE_PUBLISHABLE_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>
STRIPE_SUCCESS_URL=http://<EC2_PUBLIC_IP>:3000/success
STRIPE_CANCEL_URL=http://<EC2_PUBLIC_IP>:3000/cancel

GEMINI_API_KEY=<GEMINI_API_KEY>
GEMINI_MODEL=gemini-1.5-flash
